<main>
  <div id="calculator" [style]="theme">
    <div class="mainContent">
      <header>
        <h1>calc</h1>
        <h3>THEME</h3>
        <app-type-selector (themeChange)="themeHasChange($event)"></app-type-selector>
      </header>
      <div class="screen"><span>{{showValue}}</span> </div>
      <div class="keyboard">
        <span (click)="onKeyPress($event)">7</span >
        <span (click)="onKeyPress($event)">8</span >
        <span (click)="onKeyPress($event)">9</span >
        <span class="secondaryColor" (click)="onKeyPress($event)">DEL</span>
        <span (click)="onKeyPress($event)">4</span >
        <span (click)="onKeyPress($event)">5</span >
        <span (click)="onKeyPress($event)">6</span >
        <span (click)="onKeyPress($event)">+</span >
        <span (click)="onKeyPress($event)">1</span >
        <span (click)="onKeyPress($event)">2</span >
        <span (click)="onKeyPress($event)">3</span >
        <span (click)="onKeyPress($event)">-</span >
        <span (click)="onKeyPress($event)">.</span >
        <span (click)="onKeyPress($event)">0</span >
        <span (click)="onKeyPress($event)">/</span >
        <span (click)="onKeyPress($event)">x</span >
        <span (click)="onKeyPress($event)" class="secondaryColor RESET">RESET</span>
        <span (click)="onKeyPress($event)" class="thirdColor equal">=</span>
      </div>
    </div>
  </div>
</main>